<a href="https://colab.research.google.com/github/Suchitraheggade/Workshop-on-Application-of-Python-Program/blob/master/Day_2_Session_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Print multiples of 3 upto 200 using a list

In [ ]:
print([i for i in range(1,200) if i%3==0])

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198]

print the nos only divisable by 5 and 7 between 1000 and 2000 using a list( both inclusive)

In [ ]:
print([i for i in range(1000,2001) if i%5==0 and i%7==0])

Add the n number of names in a list and print them alphabetically and reverse alphabetically.

In [10]:
a=[input() for i in range(int(input("Enter The N Value: ")))]
a.sort()
print(a)
print(a[-1::-1])

Enter The N Value: 5
suchithra
Heggade
Chandrahas
Yasodha
Suhas
['Chandrahas', 'Heggade', 'Suhas', 'Yasodha', 'suchithra']
['suchithra', 'Yasodha', 'Suhas', 'Heggade', 'Chandrahas']

Print perfect squares and divisible by 5 between 500 and 1000( (both inclusive) using list

In [11]:
import math
print([i for i in range(500,1001) if math.sqrt(i)==int(math.sqrt(i)) and i%5==0])

[625, 900]

Get a string and store word by word as elements in a tuple and find the largest word in the tuple and print it

In [ ]:
s=input("Enter The String: ")
print(tuple(s.split(" ")))
print(max(tuple(s.split(" "))))

Enter The String: suchithra heggade
('suchithra', 'heggade')
suchithra

Get rollno and marks (Rollno, mark) as list of tuples for n number of students through keyboard and print them in marks descending order with rollno.

In [12]:
import operator
t=[(input(f"Enter The Roll Number Of Student-{i+1}: "),int(input(f"Enter The Marks Of Student-{i+1}: "))) for i in range(int(input("Enter The Number Of Students: ")))]
d=dict(t)
print(list(sorted(d.items(), key=operator.itemgetter(1), reverse=True)))

Enter The Number Of Students: 3
Enter The Roll Number Of Student-1: 1
Enter The Marks Of Student-1: 95
Enter The Roll Number Of Student-2: 2
Enter The Marks Of Student-2: 93
Enter The Roll Number Of Student-3: 3
Enter The Marks Of Student-3: 92
[('1', 95), ('2', 93), ('3', 92)]

Get name and salary (name, salary) as list of tuples for n number of employees through keyboard and print them in name alphabetical order with salary

In [13]:
import operator
t=[(input(f"Enter The Name Of Employee-{i+1}: "),int(input(f"Enter The Salary Of Employee-{i+1}: "))) for i in range(int(input("Enter The Number Of Employee: ")))]
d=dict(t)
print(list(sorted(d.items(), key=operator.itemgetter(0))))

Enter The Number Of Employee: 3
Enter The Name Of Employee-1: Suchithra
Enter The Salary Of Employee-1: 2000
Enter The Name Of Employee-2: Shwetha
Enter The Salary Of Employee-2: 50000
Enter The Name Of Employee-3: Apoorva
Enter The Salary Of Employee-3: 4000
[('Apoorva', 4000), ('Shwetha', 50000), ('Suchithra', 2000)]